.card-panel.blue.lighten-2{:style => "padding: 10px 24px;"}
  %strong.white-text.flow-text
    %b INSTRUCCIONES:
  %p.white-text.flow-text{:align => "justify", :style => "margin: 1rem 0;"}
    Para corroborar la respuesta anterior elija el par de frases que
    %b{:style => "color:#005396;"} más lo representa.
%table.striped
  %thead
    %tr
      %th Preguntas
      %th{:style => "text-align: center;"} Elección
  = form_tag({:action => "create"}) do
    %tbody
      - for question in 1..9
        %tr{:id => "pregunta#{question}"}
          %td{:style => "padding: 0px 20px;"}
            - if question == 1
              %p
                %strong.bold>
                  = question
                  \.
                Sentirme Tranquilo / Armonía
              %p
            - elsif question == 2
              %p
                %strong.bold>
                  = question
                  \.
                Sentirme Poderoso / Admiración
              %p
            - elsif question == 3
              %p
                %strong.bold>
                  = question
                  \.
                Sentirme Estimulado / Compartir
              %p
            - elsif question == 4
              %p
                %strong.bold>
                  = question
                  \.
                Sentirme Seguro / Seguridad
              %p
            - elsif question == 5
              %p
                %strong.bold>
                  = question
                  \.
                Sentirme Desapegado / Respeto
              %p
            - elsif question == 6
              %p
                %strong.bold>
                  = question
                  \.
                Sentirme Conectado / Amor
              %p
            - elsif question == 7
              %p
                %strong.bold>
                  = question
                  \.
                Sentirme Destacado / Reconocimiento
              %p
            - elsif question == 8
              %p
                %strong.bold>
                  = question
                  \.
                Sentirme Único / Comprensión
              %p
            - elsif question == 9
              %p
                %strong.bold>
                  = question
                  \.
                Sentirme Perfecto / Valoración
              %p
          %td{:style => "text-align: center;"}
            %input{:id => "#{10 - question}", :name => "answer", :required => "", :type => "radio", :value => "#{10 - question}"}/
            %label{:for => "#{10 - question}", :style => "padding-left: 20px;"}
%br/
= submit_tag "Enviar", class: 'right btn btn-large blue waves-light',:id => "btnValidPsycho1"
