.modal-content
  %h3 Editar usuario
  = form_for(user) do |f|
    / Inicio de form
    .field
      = f.label :email, "Correo"
      = f.text_field :email, autofocus: true, class: "validate", placeholder:"ejemplo@correo.cl"
    .field
      = f.label :name, "Nombres"
      = f.text_field :name, autofocus: true, class: "validate", required: "true", placeholder:"Tammy"
    .field
      = f.label :surname, "Apellidos"
      = f.text_field :surname, autofocus: true, class: "validate", required: "true", placeholder:"Lagos"
    = label :rol, "Rol"
    .input-field
      %select.browser-default{:name => "user[rol]"}
        %option
        - if f.object.rol == 3
          selected
        value=3&gt;Alumno
      %option
      - if f.object.rol == 2
        selected
      value=2&gt;Ayudante
    - if current_user.rol == 0
      %option
      - if f.object.rol == 1
        selected
      value=1&gt;Profesor
