.modal-content.left-align.black-text
  %h5{:id => "nuevoUsuarioTag#{user.id}"}
    %b USUARIO:
    - if user.rol == 0
      %span{:style => "color:#2196F3 !important;"} Coordinador
    - elsif user.rol == 1
      %span{:style => "color:#2196F3 !important;"} Profesor
    - elsif user.rol == 2
      %span{:style => "color:#2196F3 !important;"} Ayudante
    - elsif user.rol == 3
      %span{:style => "color:#2196F3 !important;"} Estudiante
    - else
      %span{:style => "color:#2196F3 !important;"} No definido
    - if current_user.rol == 1
      %a.btn.btn-floating.waves-effect.waves-light.modal-trigger{:href => "#editarUsuario#{user.id}", :style => "background-color:#ff9800; border-color:#e68900;font-size: 16px"}
        %i.material-icons mode_edit
  - if user.id != nil
    .row
      .col.l6
        %p
          %b Nombre:
          = user.name + ' ' + user.surname
        %p
          %b Correo:
          = user.email
        %p
          %b Sección:
          - user.sections.each do |h|
            %span.chip
              = h.code
        - if user.rol == 3
          %p
            %b Carrera:
            = user.career.name
        %p
          %b Estado:
          - if user.status == true
            %span.new.badge.green{"data-badge-caption" => "Activo"}
          - elsif user.status == false
            %span.new.badge.red{"data-badge-caption" => "Suspendido"}
          - else
            No definido
      - if user.rol == 3
        .col.l6
          %p
            %b Organizado por:
            - if user.accept_model == true
              El profesor
            - elsif user.accept_model == false
              Los estudiantes
            - elsif user.accept_model == nil
              No informado
          - if user.accept_model == true
            %p
              %b
            %p{:style => "margin-bottom: 0px;"} Estado test de afinidad social:
            - if !user.tests.find_by(kind: 2).answered?
              %span.new.badge.red{"data-badge-caption" => "0/2 test", :style => "margin: 0;"}
            - elsif !user.tests.find_by(kind: 3).answered?
              %span.new.badge.amber.darken-1{"data-badge-caption" => "1/2 test", :style => "margin: 0;"}
            - else
              %span.new.badge.green{"data-badge-caption" => "Test resueltos", :style => "margin: 0;"}
            %p
              %b
            %p{:style => "margin-bottom: 0px;"} Estado test de personalidad:
            - if user.accept_model == true
              - if user.test_count == 1 || user.test_count == 2
                %span.new.badge.purple{"data-badge-caption" => "1° Intento", :style => "margin: 0;"}
              - elsif user.test_count == 3 || user.test_count == 4
                %span.new.badge.blue{"data-badge-caption" => "2° Intento", :style => "margin: 0;"}
              - elsif user.test_count == 5
                %span.new.badge.red{"data-badge-caption" => "3° Intento", :style => "margin: 0;"}
              - elsif user.test_count == 6
                %span.new.badge.green{"data-badge-caption" => "Test resuelto", :style => "margin: 0;"}
              - if user.test_count == 1 || user.test_count == 3
                %span.new.badge.red{"data-badge-caption" => "0/2 test", :style => "margin-left: 5px;"}
              - elsif user.test_count == 2 || user.test_count == 4
                %span.new.badge.amber.darken-3{"data-badge-caption" => "1/2 test", :style => "margin-left: 5px;"}
              - elsif user.test_count == 5
                %span.new.badge.red{"data-badge-caption" => "0/1 test", :style => "margin-left: 5px;"}
          %p
            %b N° de grupo:
            - if user.group != nil
              = user.group
            - else
              Ninguno
.modal-footer
  %a.modal-action.modal-close.waves-effect.btn.red Volver
