.container{:style => "padding-top:5%"}
  .row
    .col.s12
      - if alert
        .card-panel.card-fix.red.lighten-4.red-text.center-align
          %i.material-icons.medium mood_bad
          %h5.h5-fix
            %b Ups!, algo no salio bien ...
          %p{:style => "margin: 4px;"}
            %b
              = alert
      - elsif notice
        .card-panel.card-fix.green.lighten-4.green-text.center-align
          %i.material-icons.medium mood
          %h5.h5-fix
            %b Todo bien ...
          %p.alert{:style => "margin: 4px;"}
            = notice
      %h2{:style => "display: inline"}
        %b Buscador de:
      %h3.sub-titulo{:style => "display: inline; color:#999999"} Usuarios
      %a.right.btn-floating.btn-large.waves-effect.waves-light.btn.purple.darken-3.accent-4.tooltipped.modal-trigger{"data-delay" => "50", "data-position" => "top", "data-tooltip" => "Importar estudiantes", :href => "#importar", :style => "margin-left: 10px;"}
        %i.material-icons{:style => "font-size:2.4rem;"} group_add
      %a.right.btn-floating.btn-large.waves-effect.waves-light.btn.green.accent-4.tooltipped.modal-trigger{"data-delay" => "50", "data-position" => "top", "data-tooltip" => "Nuevo usuario", :href => "#nuevoUsuario"}
        %i.material-icons{:style => "font-size:2.4rem;"} person_add
      .fixed-action-btn.horizontal
        %a.btn-floating.btn-large.black.tooltipped{"data-delay" => "50", "data-position" => "top", "data-tooltip" => "Paginación"}
          %i.large.material-icons description
        %ul
          %li
            = link_to '<p style="line-height:0%;font-size: 20px;text-align: center;">5</p>'.html_safe, usuarios_path(:per_page => 5),:onchange => "if(this.value){window.location='?per_page='+this.value;}",class: "btn-floating blue lighten-2"
          %li
            = link_to '<p style="line-height:0%;font-size: 20px;text-align: center;">10</p>'.html_safe, usuarios_path(:per_page => 10),:onchange => "if(this.value){window.location='?per_page='+this.value;}",class: "btn-floating blue"
          %li
            = link_to '<p style="line-height:0%;font-size: 20px;text-align: center;">30</p>'.html_safe, usuarios_path(:per_page => 30),:onchange => "if(this.value){window.location='?per_page='+this.value;}",class: "btn-floating blue darken-4"
      %hr
        %br
          %br
            .row
              .col.l6.s12
                = form_tag usuarios_path, :method => 'get' do
                  .row
                    .field.col.l4.s12
                      = label :search_rol, "Tipo de Usuario"
                      = select_tag :search_rol, options_for_select([['Estudiante','3'],['Ayudante','2'], ['Profesor','1']], params[:search_rol]), class: "form-control", :prompt => 'Ninguno'
                    .field.col.l4.s12
                      = label :search_section, "Sección"
                      = select_tag :search_section, options_for_select(@sections.map { |obj| obj['code'] }, params[:search_section]), class: "form-control", :prompt => 'Ninguna'
                    .field.col.l4.s12
                      = label :search_status, "Estado"
                      = select_tag :search_status, options_for_select([['Activo','t'],['Suspendido','f']], params[:search_status]), class: "form-control", :prompt => 'Ninguno'
                .col.l6.m12.s12
                  = label :search, "Contenido de la búsqueda"
                  .row
                    .col.l10.m10.s10
                      %nav{:style => "background-color: #0089ec;height: 45px !important;padding: 0 0;"}
                        .input-field
                    .col.l2.m2.s2{:style => "padding: 0 0;"}
                      = submit_tag(class: "btn waves-effect waves-light", style: "height: 45px !important;width: calc(100% - 10px);padding: 0 0;") do
                        %i.material-icons{:style => "line-height: 48px;padding-right: -28px;font-size: 2rem;"} search
            %hr
              %table.striped.responsive-table
                %thead
                  %tr
                    %th Correo
                    %th Secci&#xF3;n
                    %th Rol
                    %th Estado
                    %th Acciones
                %tbody
                  - @users.each do |user|
                    %div.modal{id: "verUsuario#{user.id}"}
                      = render :partial=>"users/shared/show_user", locals: {user: user}
                  %div.modal.modal-fixed-footer{id: "editarUsuario#{user.id}"}
                    = render :partial => "users/shared/edit_user", locals: {user: user}
                %tr{style: "#{user.status ? '' : 'color:#F44336;'}"}
                  %td= user.email
                  %td
                    %p.truncate{:style => "max-width: 12ch;", :title => ""}
                      - user.sections.each do |h|
                        = h.code
                        - if h != user.sections.last
                          ,
                  %td
                    - if user.rol == 0
                      Coordinador
                    - elsif user.rol == 1
                      Profesor
                    - elsif user.rol == 2
                      Ayudante
                    - elsif user.rol == 3
                      Estudiante
                    - else
                      No definido
                  %td
                    - if user.status == true
                      Activo
                    - elsif user.status == false
                      Suspendido
                    - else
                      No definido
                  %td
                    %a.btn.btn-floating.waves-effect.waves-light.modal-trigger{:href => "#verUsuario#{user.id}", :style=>"background-color:#2196f3; border-color:#0d8aee"}
                      %i.material-icons perm_identity
                    %a.btn.btn-floating.waves-effect.waves-light.modal-trigger{:href => "#editarUsuario#{user.id}",  :style=>"background-color:#ff9800; border-color:#e68900"}
                      %i.material-icons mode_edit
                    = link_to user, method: :delete, data: { confirm: "¿Estás seguro que deseas eliminar a este usuario?" }, class: "btn-floating waves-effect waves-light red" do
                      %i.material-icons elete_forever
  - if !@users.present?
    %h1.text-center No se ha encontrado ninguna coincidencia :(
  .center-align= will_paginate @users,renderer: MaterializePagination::Rails
  / Modal nuevo usuario
  #nuevoUsuario.modal.modal-fixed-footer
    = render :partial =>"users/shared/new_user", locals: {sections: @sections, careers: @careers}
  #importar.modal.modal-max.modal-fixed-footer{:style => ""}
    = render :partial => "users/shared/importar"
