.modal-content
  %h3 Nueva sección
  - if @section.errors.any?
    .card-panel.card-fix.red.lighten-4.red-text
      - @section.errors.full_messages.each do |msg|
        %p.alert
          \- #{msg}
  = form_for(@section) do |s|
    .col.l6.m6.s12
      .field
        = s.label :section, "Sección"
        = s.text_field :section, autofocus: true, class: "validate", required: "true", placeholder:"Ej: A-1"
    .col.l6.m6.s12
      .field
        = s.label :year, "Año"
        = s.number_field :year, placeholder:"2017", class: 'validate', required: "true"
    .col.l6.m6.s12
      = label :semester, "Semestre"
      .input-field
        %select.browser-default{:name => "section[semester]"}
          %option{:value => "1"} Primero
          %option{:value => "2"} Segundo
    .col.l6.m6.s12
      = label :kind, "Tipo"
      .input-field
        %select.browser-default{:name => "section[kind]"}
          %option{:value => "t"} Cátedra
          %option{:value => "f"} Laboratorio
.modal-footer
  %a.modal-action.modal-close.waves-effect.btn.left.red Volver
  = s.submit 'Crear sección', :class  => "btn right"
