.modal-content
  %h4
    %b Sección:
    %span.sub-titulo= section.code
    %a.btn.btn-floating.waves-effect.waves-light.modal-trigger{:href => "#editarSeccion#{section.id}", :style => "background-color:#ff9800; border-color:#e68900;font-size: 16px"}
      %i.material-icons mode_edit
  - if section.id != nil
    .row
      .col.s12
        %strong Profesor(es):
        %p
          - if section.users.where(rol: 1).count == 0
            Ningún profesor asignado aún
          - else
            - section.users.where(rol: 1).each do |t|
              %span.chip
                = t.email
        %strong Ayudante(s):
        %p
          - if section.users.where(rol: 2).count == 0
            Ningún ayudante asignado aún
          - else
            - section.users.where(rol: 2).each do |t|
              %span.chip
                = t.email
        %strong Estudiantes:
        .container{:style => "width: 95%;"}
          .row{:style => "margin-bottom: 0px;"}
            %ul.collection.center
              - num = 1
              - section.users.where(rol: 3).each do |s|
                %a.collection-item.modal-trigger{:href => "#verEstudiante#{s.id}"}
                  %span.left
                    = num
                  = s.email
                - num = num + 1
.modal-footer
  %a.modal-action.modal-close.waves-effect.btn.red.left Volver
