#principal_student.section.scrollspyTitle.title_sub
  .container
    .row
      .col.l12.m12.s12.center-align
        %h1#hero_title{:style => "color:white"}
          %strong.bold ¡Bienvenido estudiante!,
          - if current_user.accept_model == true
            - if !current_user.group.present?
              %span.light
                Tu equipo se sera organizado por el profesor, ahora necesitamos que contestes unos test (#{link_to 'Personalidad',test_eneagrama_path}, #{link_to 'Afinidad social',test_social_path})
            - else
              %span.light
                ¡Tu equipo ya fue conformado! (#{link_to 'Ir a ver',mi_equipo_path})
          - elsif current_user.accept_model == false
            %span.light Suerte organizando a tu grupo ;)
          - else
            %span.light infórmate y elige una opción para generar tu equipo de trabajo
    .row
      .col.s12
        .center-align
          - if current_user.accept_model != false
            %a.btn.btn-large{:href => "#proposito"} Informarme
          - if current_user.accept_model == nil
            %a.btn.btn-large.white.grey-text{:href => "#eleccion"} Elegir
- if current_user.accept_model != false
  .row{:style => "margin-bottom: 0px;"}
    .col.s12.m9.l10{:style => "padding: 0 0;"}
      .divider
      #proposito.section.scrollspy.title_sub.features-orange.lighten-2.white-text
        %div{:style => "padding: 0 4rem;"}
          .icon-block
            %h2.center
              %i.material-icons.large group
          %h1.center
            %strong.bold PROPÓSITO
          %br/
          %blockquote{:style => "border-left: 5px solid #607D8B;"}
            %p.flow-text{:align => "justify"}
              Apoyar el proceso de selección de
              %strong.bold equipos de trabajo
              para la sección #{current_user.sections.first.code}, considerando factores interpersonales y personales apoyados por un sistema de clasificación de personalidad y afinidad social.
      .divider
      #tests.section.scrollspy.title_sub.white-text.features-purple
        %div{:style => "padding: 0 4rem;"}
          .icon-block
            %h2.center
              %i.material-icons.large import_contacts
          %h1.center
            %strong.bold TESTS
          %blockquote{:style => "border-left: 5px solid #608b6a;"}
            %p.flow-text{:align => "justify"} Son dos los test que permitiran conocer las caracteristicas del estudiante:
            %p.flow-text{:align => "justify"}
              %strong.bold Test de personalidad:
              Instrumento que permite conocer tanto los tipos de personalidad de cada persona como tambien su relación de compatibilidad para trabajar con otros
            %p.flow-text{:align => "justify"}
              %strong.bold Test de afinidad social:
              Herramienta especializada en medir las relaciones interpersonales, como atracción y rechazo entre los individuos de una comunidad o grupo social.
      - if current_user.accept_model == nil
        .divider
        #eleccion.section.scrollspy.title_sub.black
          .row
            .col.s12.center-align
              %h1{:style => "color:white"}
                %strong.bold ELECCIÓN:
                %span.light Por favor lea las opciones que tiene
          .row
            .col.s12.l12
              .center-align
                %a.pill.btn.btn-large.white.black-text.waves-effect.waves-light.modal-trigger{"flow-text" => "", :href => "#modalConModelo"} Consentimiento
                 
                / <a href="#modalSinModelo" class="pill btn btn-large blue waves-effect waves-light modal-trigger">Por el estudiante</a>
              %br/
              .center-align
                %img.responsive-img{:src => "http://drive.google.com/uc?export=view&id=0B_QiSDUvLSAcRDZPT2ZCZGRUUjg"}/
    .col.hide-on-small-only.m3.l2
      .columniwannapush{:style => "padding-top: 40px;"}
        %ul.section.table-of-contents
          %li
            %a{:href => "#principal_student"} Inicio
          %li
            %a{:href => "#proposito"} Proposito
          %li
            %a{:href => "#tests"} Tests
          - if current_user.accept_model == nil
            %li
              %a{:href => "#eleccion"} Elección
  / Modal CON MODELO
  #modalConModelo.modal.modal-fixed-footer
    .modal-content
      %h4
        %strong Organizado por el profesor
      %br/
      %h5 CONSENTIMIENTO INFORMADO
      %p{:align => "justify"}
        A través del siguiente consentimiento informado yo
        = succeed "," do
          %b{:style => "font-size: 18px;"}
            = current_user.name
            = current_user.surname
        = current_user.sections.first.code
        \. Accedo a ser organizado por el profesor para ser asignado a un equipo de trabajo y acepto que en el proceso la información obtenida sobre mi, sea utilizada con los fines de generar mi perfil de afinidad social y de personalidad.
      %p{:align => "justify"} Además, se le informa que todos sus datos personales solo seran accedidos por su profesor, ayudante y coordinador de la asignatura con fines gestionar su identidad en la plataforma TeamMaker para identificarlo como usuario estudiante.
      %p{:align => "justify"} Finalmente, tenga presente que toda la información obtenida por medio de los test de personalidad y de afinidad social son totalmente privados y manejados de forma interna por TeamMaker para la obtención de su tipo de personalidad y la generación de su equipo de trabajo.
    .modal-footer
      %a.modal-action.modal-close.waves-effect.btn.red.white-text.left{:href => "#!"} Rechazar
      = link_to "Aceptar", root_path(accept_model: 't') , :class => "btn right", onClick: "location.reload();" , autofocus: true
  / Modal SIN MODELO
  #modalSinModelo.modal.modal-fixed-footer
    .modal-content
      %h4
        %strong Yo me organizo
      .card-panel.card-fix.red.lighten-4.red-text.center-align
        %i.material-icons.medium{:style => "padding-top:10px"} directions_run
        %h5.h5-fix
          %b Aún puedes cambiar de opinión
        %p.flow-text{:style => "margin:10px"} Recuerde que en el mundo laboral usted no elige a sus compañeros(as). Si quiere tener una experiencia real de aprendizaje elija la otra opción.
        %a.btn.red.waves-effect.waves-light{:href => "#modalConModelo", :style => "margin-bottom:15px"} Cambio de opinión
      %br/
      %h5 CONSENTIMIENTO INFORMADO
      %p{:align => "justify"}
        A través del siguiente consentimiento informado yo
        %b{:style => "font-size: 18px;"}
          = current_user.name
          = current_user.surname
        estudiante de la sección #{current_user.sections.first.code},  acepto organizarme para generar mi equipo de trabajo y rechazo la opción de permitir que este sea generado por el profesor a cargo de mi sección.
    .modal-footer
      %a.modal-action.modal-close.waves-effect.btn.red.white-text.left{:href => "#!"} Rechazar
      = link_to "Aceptar", root_path(accept_model: 'f') , :class => "btn right", onClick: "location.reload();"
